<div class="box is-padding-less">
  <div class="box-header">我的宝贝</div>
  <div class="weui-panel__bd">
    <% @tutelages.each do |tutelage| %>
    <div class="media">
      <div class="media-left">
        <%= image_tag tutelage.pupil.avatar, class: 'image is-64x64' %>
      </div>
      <div class="media-content">
        <h4 class="weui-media-box__title"><%= tutelage.relation_i18n %></h4>
        <p class="weui-media-box__desc">
          <%= tutelage.pupil.real_name %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
