<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('crm.panel.tags.index.title'), { controller: 'sources' } %></li>
    <li><%= @source.name %></li>
    <li class="is-active"><%= t('crm.panel.materials.index.title') %></li>
  </ul>
</div>
