<%= link_to({ controller: 'qrcodes', action: 'new', source_id: @source.id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link') do %>
  <i class="fa-solid fa-plus"></i>
  <span><%= t('.new.title') %></span>
<% end %>
