<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <%= render 'qrcode_thead' %>
      <%= render 'index_thead_actions' %>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <%= render 'qrcode_button' %>
      </td>
    </tr>
  </tfoot>
</table>
