<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('crm.admin.maintains.index.title'), { controller: 'maintains' } %></li>
    <li class="is-active"><%= t('crm.admin.maintain_sources.index.title') %></li>
  </ul>
</div>
