<tr>
  <td><%= maintain_source.name %></td>
  <td><%= maintain_source.maintains_count %></td>
  <td>
    <%= link_to({ action: 'edit', id: maintain_source.id }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-light fa-pencil"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: maintain_source.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-light fa-trash"></i>
    <% end %>
  </td>
</tr>
