<tr>
  <td class="has-text-right"><%= MaintainSource.human_attribute_name(:name) %></td>
  <td><%= @maintain_source.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= MaintainSource.human_attribute_name(:maintains_count) %></td>
  <td><%= @maintain_source.maintains_count %></td>
</tr>
