<div>
  <dt><%= MaintainSource.human_attribute_name(:name) %></dt>
  <dd><%= @maintain_source.name %></dd>
</div>
<div>
  <dt><%= MaintainSource.human_attribute_name(:maintains_count) %></dt>
  <dd><%= @maintain_source.maintains_count %></dd>
</div>
