<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'clients' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.clients.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'contacts' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.contacts.index.title') %></span>
    <% end %>
  </div>
</div>