<th>
  <p><%= Crm::Maintain.human_attribute_name('agent.real_name') %></p>
  <p class="color-success"><%= Crm::Maintain.human_attribute_name('agent.identity') %></p>
</th>
<th><%= Crm::Agency.human_attribute_name(:relation) %></th>
