<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('crm.me.maintains.index.title'), { controller: 'maintains', action: 'index' } %></li>
    <li><span class="px-3"><%= @maintain.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
