<%= link_to({ controller: 'maintain_logs', action: 'new', maintain_id: @maintain.id }, state: 'enter', class: 'weui-btn_cell weui-btn_cell-primary') do %>
  <i class="fa-solid fa-plus"></i>
  <span><%= t('.new.title') %></span>
<% end %>
