<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right as-x">
    <%= button_to({ controller: 'maintain_logs', action: 'actions', maintain_id: @maintain.id, id: model.id }, state: 'enter', class: 'button is-borderless') do %>
      <i class="fa-solid fa-lg fa-ellipsis-h"></i>
    <% end %>
  </div>
</div>
