<%= form_with theme: 'weui', url: { action: 'create_detect' } do |f| %>
  <div class="weui-form__control-area">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells">
        <%= f.text_field :identity, label: '联系方式' %>
      </div>
    </div>
  </div>
  <%= f.submit '下一步' %>
<% end %>
