<div class="buttons are-large is-centered">
  <%= button_to({ action: 'create_client' }, class: 'button is-warning') do %>
    <span>加入客户列表</span>
  <% end unless @maintain %>
  <%= button_to({ action: 'actions', id: @maintain.id }, class: 'button is-info') do %>
    <i class="fa-light fa-ellipsis-h fa-lg"></i>
    <span>更多</span>
  <% end if @maintain %>
</div>
