<th>
  <p><%= Crm::Contact.human_attribute_name(:identity) %></p>
  <p><%= Crm::Contact.human_attribute_name(:name) %></p>
</th>
<th><%= Crm::Contact.human_attribute_name(:client_member_id) %></th>
<th><%= Crm::Contact.human_attribute_name(:default) %></th>
