<td rowspan="<%= model.client_maintains.size + 1 %>">
  <p><%= link_to model.identity, { action: 'show', id: model.id } %></p>
  <p><span><%= model.name %></span></p>
</td>
<td colspan="7" class="<%= model.client_maintains.size > 0 ? 'is-borderless is-empty' : '' %>"></td>
