<div class="weui-panel">
  <div class="weui-panel__hd">我的档案</div>
  <div class="weui-panel__bd">
    <% @agencies.each do |agency| %>
    <div class="media">
      <div class="media-left">
        <%= image_tag agency.client.avatar, class: 'image is-64x64' if agency.client.avatar.attached? %>
      </div>
      <div class="media-content">
        <h4 class="weui-media-box__title"><%= agency.relation_i18n %></h4>
        <p class="weui-media-box__desc">
          <%= agency.name %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="weui-panel__ft">
    <%= link_to({ action: 'new' }, class: 'weui-btn_cell weui-btn_cell-primary') do %>
      <i class="fa-solid fa-plus"></i>
      <span>添加档案</span>
    <% end %>
  </div>
</div>
