<%= render 'head' %>

<div class="box is-padding-less mt-0 mb-4 is-radiusless" style="padding-top: 1px">
  <div class="weui-panel__bd">
    <div class="weui-cells mt-0">
      <%= render partial: 'request', collection: @requests, as: :request %>
    </div>
  </div>
</div>

<%= paginate @requests, window: 1 %>
