<tr>
  <td><%= Crm::Contact.human_attribute_name(:name) %></td>
  <td><%= @contact.name %></td>
</tr>
<tr>
  <td><%= Crm::Contact.human_attribute_name(:identity) %></td>
  <td><%= @contact.identity %></td>
</tr>
