<%= render 'top_bar' %>

<div class="cards m-4 is-4">
  <div class="card">
    <div class="card-content has-text-centered">
      <strong><%= @contact.orders.count %></strong>
      <p>Orders Count</p>
    </div>
  </div>
  <div class="card">
    <div class="card-content has-text-centered">
      <strong><%= @contact.pending_members.count %></strong>
      <p>Contacts Count</p>
    </div>
  </div>
</div>

<table class="table is-fullwidth is-hoverable as-show">
  <tbody>
    <%= render 'show_table' %>
  </tbody>
</table>
