<div class="fixed-grid has-auto-count px-3">
  <div class="grid">
    <div class="box cell">
      <div class="has-colomn-centered">
        <strong><%= @contact.orders.count %></strong>
        <p>Orders Count</p>
      </div>
    </div>
    <div class="box cell">
      <div class="has-column-centered">
        <strong><%= @contact.pending_members.count %></strong>
        <p>Contacts Count</p>
      </div>
    </div>
  </div>
</div>

<dl class="as-show is-boxed">
  <%= render 'show_table' %>
</dl>

<% if @scene %>
<div class="box mx-3">
  <%= image_tag @scene.qrcode_data_url, class: 'image is-128x128' %>
</div>
<% end %>