<%= render 'top_bar' %>

<div class="box mx-3">
  <div class="weui-media-box weui-media-box_small-appmsg">
    <div class="weui-cells weui-cells_checkbox">
      <%= render partial: 'wallet_payment', collection: @order.payment_orders, as: :payment_order %>
    </div>
    <div class="weui-cells">
    <% unless @order.all_paid? %>
      <%= render 'hand_payment' %>
    <% end %>
    </div>
  </div>
</div>
