<%= link_to({ controller: '/home', action: 'help' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-light fa-circle-question fa-fw"></i>
    <span>使用帮助</span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'wechat/me/externals' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-light fa-users-line fa-fw"></i>
    <span><%= t('wechat.me.externals.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
