<th><%= Auth::OauthUser.human_attribute_name(:name) %></th>
<th>
  <p class="color-success"><%= Auth::OauthUser.human_attribute_name(:online_at) %></p>
  <p class="color-grey"><%= Auth::OauthUser.human_attribute_name(:offline_at) %></p>
</th>
<th><%= Auth::OauthUser.human_attribute_name(:user) %></th>
<th></th>