<%= render layout: 'index_table' do %>
  <%= render partial: 'index_tbody', layout: 'index_tr', collection: @materials, as: :model %>
<% end %>

<div class="box">
<% if @primary_material %>
  <%= image_tag @primary_material.url_with_watermark, class: 'image' %>
<% end %>
</div>
