<%= render 'maintain_bar' %>

<div class="columns">
  <div class="column">
    <div class="cards is-4">
      <%= render partial: 'production_cart', layout: 'card', collection: @productions, as: :model, locals: { cart: @cart, item_con: 'trade/agent/items' } %>
    </div>
  </div>
  <div class="column is-narrow">
    <%= render partial: 'cart_nav', locals: { cart: @cart, cart_con: 'crm/me/carts', order_con: 'crm/me/orders' } %>
  </div>
</div>
