<div id="cart_nav" class="is-fixed-bottom level p-3 background-light">
  <div class="level-left">
    <%= cart.amount.to_money.format.html_safe %>
  </div>
  <div class="level-right">
    <%= link_to({ controller: 'crm/admin/orders', action: 'cart', current_cart_id: cart.id, **params.permit!.slice('factory_taxon_id') }, class: 'button is-success') do %>
      <i class="fa-solid fa-credit-card"></i>
      <span class="ml-1"><%= t('.orders.cart.title') %></span>
    <% end %>
  </div>
</div>
