<%= link_to({ controller: 'wallets', maintain_id: @maintain.id }, class: 'button is-success') do %>
  <i class="fa-solid fa-wallet"></i>
  <span class="pl-1"><%= t('crm.admin.wallets.index.title') %></span>
<% end %>
<%= button_to({ action: 'actions', id: @maintain.id }, state: 'enter', class: 'button is-info') do %>
  <i class="fa-solid fa-lg fa-ellipsis-h"></i>
  <span>更多</span>
<% end %>
