<td>
  <p><%= model.name %></p>
  <p class="has-text-grey"><%= model.client.identity %></p>
</td>
<td>
  <p><%# model.source.name %></p>
</td>
<td><%= model.state_i18n %></td>
<td><%= model.client.gender %></td>
