<div class="weui-form-preview__item">
  <label class="weui-form-preview__label"><%= Crm::Maintain.human_attribute_name(:remark) %></label>
  <span class="weui-form-preview__value"><%= @maintain.remark %></span>
</div>
