<li><%= link_to t('.maintains.index.title'), { controller: 'maintains', action: 'index' } %></li>
<li><span class="px-3"><%= @maintain.remark || @maintain.name %></span></li>
<li><%= link_to t('.orders.index.title'), { controller: 'orders', action: 'index' } %></li>
<li class="is-active"><%= t('.title') %></li>
