<%= render 'common_breadcrumb' %>
<li><span class="px-3"><%= @client.name %></span></li>
<li><%= link_to t('.productions.index.title'), { controller: 'productions' } %></li>
<li class="is-active"><%= t('.title') %></li>
