<% if @wechat_user %>
<div class="media">
  <div class="media-content">
    <%= @wechat_user.name %>
  </div>
</div>
<% else %>
<%= link_to @url, class: 'media' do %>
  <div class="media-content">
    <i class="fa-brands fa-weixin fa-fw text-primary"></i>
    <span>绑定微信</span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<% end %>
