<%= link_to({ controller: 'crm/me/contacts' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-users"></i>
  </div>
  <div class="text-grey size-7 mt-1"><%= t('crm.me.contacts.index.title') %></div>
<% end %>
<%= link_to({ controller: 'crm/me/sources' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <i class="fa-solid fa-fw fa-xl fa-tags"></i>
  </div>
  <div class="text-grey size-7 mt-1"><%= t('crm.me.sources.index.title') %></div>
<% end %>
