<div class="menu-label" data-controller="empty">
  <i class="fa-solid fa-fw fa-chart-line"></i>
  <span><%= t('crm.me.title') %></span>
  <%= link_to({ controller: 'crm/admin/home' }, aria: { label: '管理' }) do %>
    <i class="fa-solid fa-cog"></i>
  <% end %>
</div>
<div class="menu-list">
  <%= link_to t('crm.me.maintains.index.title'), { controller: 'crm/me/maintains' }, state: 'clear', class: active_helper('crm/me/maintains': ['index', 'show'], active: 'is-active') %>
</div>
