<%= link_to({ action: 'new' }, class: 'weui-btn_cell weui-btn_cell-primary') do %>
  <i class="fa-solid fa-truck-fast"></i>
  <span class="pl-1"><%= t('crm.admin.orders.new.title') %></span>
<% end %>
