<div data-controller="sticky-bottom" class="sticky-bottom">
  <%= link_to({ action: 'new' }, class: 'button is-medium') do %>
    <i class="fa-solid fa-truck-fast"></i>
    <span class="ml-1"><%= t('.orders.new.title') %></span>
  <% end %>
  <%= link_to({ action: 'new_simple' }, class: 'button is-medium') do %>
    <i class="fa-solid fa-truck-fast text-success"></i>
    <span class="ml-1"><%= t('.orders.new_simple.title') %></span>
  <% end %>
</div>