<%= form_with url: { action: 'new' }, method: :get do |f| %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label>选择现有</label>
    </div>
    <div class="field-body">
      <%= f.collection_select :client_id, @agencies, :id, :name, all: { normal: nil }, wrap: { select: 'field is-narrow > control > select is-fullwidth' } %>
      <%= f.submit '下一步', all: { submit: nil }, wrap: { submit: 'field' }, offset: { submit: nil } %>
    </div>
  </div>
<% end %>
<div class="level">
  <div class="level-item">或</div>
</div>
<div class="box">
  <%= link_to({ action: 'new', agent_id: @profile.id }, class: 'button is-link is-small') do %>
    <i class="fa-light fa-plus"></i>
    <span>新增</span>
  <% end %>
</div>
