<div class="breadcrumb">
  <ul>
    <li><%= link_to t('crm.admin.maintains.index.title'), { controller: 'maintains', action: 'index' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
