<%= link_to({ controller: 'crm/admin/wallet_templates', maintain_id: @maintain.id }, class: 'weui-btn weui-btn_primary') do %>
  <i class="fa-solid fa-wallet"></i>
  <span><%= t('crm.admin.wallet_templates.index.title') %></span>
<% end %>
