<%= render layout: 'index_table' do %>
  <%= render partial: 'qrcode_tbody', layout: 'index_tr', collection: @source.qrcodes, as: :model %>
  <%= render partial: 'index_tbody', layout: 'index_tr', collection: @source.texts, as: :model %>
<% end %>

<div class="box">
<% if @source.picture.attached? %>
  <%= image_tag @source.url_with_watermark, class: 'image' %>
<% end %>
</div>
