<div data-action="click->typer#choose" data-id="<%= model.id %>" data-name="<%= model.name %>" class="panel-block">
  <span class="pl-1"><%= model.name %></span>
  <span class="text-grey">(<%= model.id %>)</span>
</div>
