<p>
  <span class="tag"><%= model.maintain_tag&.name %></span>
  <span><%= model.note %></span>
</p>
<p class="has-text-grey">
  <time data-controller="time"><%= model.created_at.to_formatted_s(:iso8601) %></time>
</p>
