<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-cells">
    <% @tags.each do |tag| %>
      <%= link_to({ action: 'tag', tag_id: tag.id }, class: 'weui-cell weui-cell_access') do %>
        <span class="weui-cell__bd"><%= tag.name %></span>
        <span class="weui-cell__ft"></span>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
