<th><%= Crm::Material.human_attribute_name(:type) %></th>
<th><%= Crm::Material.human_attribute_name(:picture) %></th>
<th>
  <p><%= Crm::Material.human_attribute_name(:top_y) %></p>
  <p><%= Crm::Material.human_attribute_name(:left_x) %></p>
</th>
