<td>
  <div class="is-several">
    <%= image_tag model.logo, class: 'image is-24x24' if model.logo.attached? %>
    <span><%= model.name %></span>
  </div>
  <p><span class="tag is-success"><%= model.code %></span></p>
</td>
<td colspan="3"></td>
<td>
  <%= button_to({ action: 'create' }, params: { 'card[card_template_id]': model.id }, class: 'button is-primary') do %>
    <span>开通</span>
  <% end %>
</td>
